<html>
  <head>
    <% include ../views/partials/head %>
  </head>
  <body class="container">
    <header>
        <% include ../views/partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome To Node</h1>


            <div class="card" style="width: 28rem;">
              <div class="card-header">
                 Welcome User
                
              </div>

            </div>
      </div>

    </main>

    <footer>

      <% include ../views/partials/footer %>
    </footer>

  </body>
</html>
